body {
  background-image: url('Images/soap-0.jpeg');
}
 
h1 {
    color: rgba(21, 21, 223, 0.877);
}

table, td {
    border: 1px solid black;
  }

th {
    color: rgb(223, 202, 21, 0.877);
    


  }


  #Form1 { 
    border: 2px solid rgb(145, 10, 10);

  }
  

  h3 {
    color: rgb(13, 224, 87);
}


#Sopor {
  color: rgb(21, 21, 223, 0.877);
}