body {
    background: rgb(197, 197, 204);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,100,9,1) 16%, rgba(0,212,255,1) 88%);
}
 
h1 {
    color: rgba(223, 202, 21, 0.877);
}

table, td {
    border: 1px solid black;
  }

th {
    color: rgb(223, 202, 21, 0.877);
    


  }


  #Form1 { border: 1px solid rgb(145, 10, 10);

  }
  